accelerate==0.23.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.1
appdirs==1.4.4
arff==0.9
argon2_cffi==23.1.0
argon2_cffi_bindings==21.2.0
astroid==2.13.5
asttokens==2.2.1
async_generator==1.10
async_timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
backports-abc==0.5
backports.shutil_get_terminal_size==1.0.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bitarray==2.8.1
bitstring==4.1.1
bleach==6.0.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset_normalizer==3.2.0
click==8.1.7
cmake==3.27.7+dummy.computecanada
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
cryptography==39.0.1
cycler==0.11.0
Cython==0.29.36
datasets==2.14.6
deap==1.4.1
debugpy==1.6.7.post1
decorator==5.1.1
deepspeed==0.9.5
defusedxml==0.7.1
dill==0.3.7
dnspython==2.4.2
docker-pycreds==0.4.0
docstring-parser==0.15
ecdsa==0.18.0
einops==0.7.0
entrypoints==0.4
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.4
flash_attn==1.0.9
fonttools==4.42.1
frozenlist==1.3.3
fsspec==2023.10.0
funcsigs==1.0.2
gitdb==4.0.11
GitPython==3.1.40
hjson==3.1.0
huggingface_hub==0.16.4
idna==3.4
importlib_metadata==6.8.0
importlib_resources==6.0.1
ipykernel==6.25.1
ipython==8.15.0
ipython_genutils==0.2.0
isort==5.12.0
javalang==0.13.0
jedi==0.19.0
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema_specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.1
kiwisolver==1.4.5
lazy_object_proxy==1.9.0
lockfile==0.12.2
lxml==4.9.2
markdown_it_py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib_inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.1
mock==5.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
nest_asyncio==1.5.7
netaddr==0.8.0
netifaces==0.11.0
networkx==3.2
ninja==1.11.1
nose==1.3.7
numpy==1.25.2
packaging==23.1
pandas==2.1.0
pandocfilters==1.5.0
paramiko==3.3.1
parso==0.8.3
path==16.7.1
path.py==12.5.0
pathlib2==2.3.7.post1
pathtools==0.1.2
paycheck==1.0.2
pbr==5.11.1
peft==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.2
portalocker==2.8.2
prometheus_client==0.17.1
prompt_toolkit==3.0.39
protobuf==4.24.4
psutil==5.9.5
ptyprocess==0.7.0
pure_eval==0.2.2
py_cpuinfo==9.0.0
pyarrow==13.0.0
pycparser==2.21
pydantic==1.10.13
Pygments==2.16.1
pylint==2.15.5
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python_json_logger==2.0.7
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rich==13.6.0
rpds_py==0.10.0
sacrebleu==1.2.11
safetensors==0.3.3
scipy==1.11.2
Send2Trash==1.8.2
sentry-sdk==1.32.0
setproctitle==1.3.2
shtab==1.6.4
simplegeneric==0.8.1
singledispatch==4.1.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4.1
stack_data==0.6.2
sympy==1.12
tabulate==0.9.0
terminado==0.17.1
testpath==0.6.0
tinycss2==1.2.1
tokenizers==0.12.1
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.25.1
tree-sitter==0.20.1
trl==0.7.4
typing==3.7.4.3
typing_extensions==4.8.0
tyro==0.5.11
tzdata==2023.3
urllib3==2.0.4
wandb==0.13.9
wcwidth==0.2.6
webencodings==0.5.1
websocket_client==1.6.2
wrapt==1.15.0
xxhash==3.2.0
yarl==1.8.2
zipp==3.16.2
