accelerate==0.13.1
aiohttp==3.8.3+computecanada
aiosignal==1.3.1
antlr4-python3-runtime==4.11.1
appdirs==1.4.4+computecanada
astroid==2.12.12
async_timeout==4.0.2+computecanada
attrs==22.2.0+computecanada
certifi==2022.9.24+computecanada
charset_normalizer==2.1.1+computecanada
click==8.1.3+computecanada
colour==0.1.5
configparser==5.0.2+computecanada
dill==0.3.6+computecanada
docker-pycreds==0.4.0+computecanada
et_xmlfile==1.1.0+computecanada
fastBPE==0.1.0
filelock==3.8.0+computecanada
frozenlist==1.3.3+computecanada
fsspec==2023.1.0+computecanada
gitdb==4.0.9+computecanada
GitPython==3.1.27+computecanada
GPUtil==1.4.0+computecanada
huggingface-hub==0.12.1
idna==3.4+computecanada
importlib-resources==5.10.2
isort==5.10.1
javalang==0.13.0
joblib==1.2.0
jsonschema==4.17.3
lazy-object-proxy==1.6.0+computecanada
lightning-utilities==0.6.0.post0
mccabe==0.7.0
memory-profiler==0.61.0
multidict==6.0.4+computecanada
numpy==1.23.0+computecanada
nvidia-ml-py3==7.352.0+computecanada
openpyxl==3.0.10+computecanada
packaging==21.3+computecanada
pandas==1.5.0+computecanada
pathtools==0.1.2+computecanada
pathvalidate==2.5.2
pkgutil_resolve_name==1.3.10+computecanada
platformdirs==2.5.4
promise==2.3+computecanada
protobuf==4.21.5+computecanada
psutil==5.9.1+computecanada
Pygments==2.12.0+computecanada
pylint==2.15.5
pynvml==11.4.1+computecanada
pyparsing==3.0.9+computecanada
pyrsistent==0.19.3
python-dateutil==2.8.2+computecanada
pytorch_lightning==1.9.1+computecanada
pytz==2022.5
PyYAML==6.0+computecanada
regex==2022.1.18+computecanada
requests==2.28.1+computecanada
sacrebleu==1.2.11
scikit_learn==1.1.2+computecanada
scipy==1.8.0+computecanada
sentencepiece==0.1.96+computecanada
sentry_sdk==1.5.0+computecanada
seqeval==1.2.2+computecanada
setproctitle==1.3.2+computecanada
shortuuid==1.0.1+computecanada
six==1.16.0+computecanada
smmap==5.0.0+computecanada
styleframe==4.1
subprocess32==3.5.4+computecanada
termcolor==1.1.0+computecanada
threadpoolctl==3.1.0+computecanada
tokenizers==0.12.1+computecanada
tomli==2.0.1+computecanada
tomlkit==0.11.6
torch==1.12.1+computecanada
torchinfo==1.6.5
torchmetrics==0.11.1+computecanada
tqdm==4.64.1+computecanada
transformers==4.22.0
tree-sitter==0.20.1
typing==3.7.4.1
typing_extensions==4.4.0+computecanada
urllib3==1.26.12+computecanada
wandb==0.13.9+computecanada
wrapt==1.13.3+computecanada
yarl==1.8.2+computecanada
yaspin==2.1.0+computecanada
zipp==3.12.0
